* {
  padding : 0;
  margin : 0
}

.logo {
  width: 7.875em;
  height: 20em;
  background: url('/img/logo.gif');
  display: block;
  font-size: 1em;
  margin: 2.5em auto;
}

.logo span {
  display: none;
}
